android/TimeToGo/bin
android/TimeToGo/*.log
android/TimeToGo/target
android/TimeToGo/gen
android/TimeToGo-it/target
android/TimeToGo-it/bin
android/TimeToGo-it/gen
lint.xml
.classpath
.settings
.project
.idea
TimeToGo.iml
