body {
  background: url('../images/highway.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.content{
  padding-top: 20px;
}

.well.time-to-destination {
  background-color: rgba(0, 0, 0, 0.5);
  border: 1px solid #333;
  display: none;
}
.time-to-destination h3, .time-to-destination div {
    color: #ddd;
    text-shadow: 1px 1px 0 black;
    text-align: center;
}
#time2go {
  display: none;	
}

.modal-body {
   text-align: center;
}
#maxDrivingTime{
    width: 80px;
}

.spinner {
	margin-top: -8px;
}
