<div id="xyz">
  <div class="row">
    <div class="col-lg-4">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Enter Starting Location" ng-model="data.startLocation.address"
        ng-class="{loadinggif : waitingForLocation}" ng-focus="startLocationFocus()" ng-blur="startLocationBlur()" googleplace > 
        <div ng-show="startLocationTyping" >
          <div ng-click="obtainCurrentLocation()"> Use Current Location <img src="images/locationIndicator.png" />
          </div>
        </div>
        <history-list ng-show="startLocationTyping" ng-model="data.startLocation.address" ></history-list>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4">
      <div class="form-group">  
        <input type="text" class="form-control" placeholder="Destination" ng-model="data.destinationLocation.address" googleplace ng-focus="destinationLocationFocus()" ng-blur="destinationLocationBlur()">
        <history-list ng-show="destinationLocationTyping" ng-model="data.destinationLocation.address" ></history-list>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4">
      <button type="button" class="btn btn-success"  ng-click="submit()" class="submitButton">Find My Route!</button>
    </div>
  </div>
</div>