<div id="xyz">
  <div class="row">
    <div class="col-lg-4">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Enter Starting Location" ng-model="data.locations.startLocation.address"
        ng-class="{loadinggif : waitingForLocation}" ng-focus="startLocationFocus()" ng-blur="startLocationBlur()" googleplace > 
        <div > <!-- ng-show="inStartLocationField" > -->
          <div ng-show="!data.currentLocation.hasLocation" class="noCurrentLocation" ng-click="useCurrentLocation()" >
             Obtaining current Location
             <img src="images/locationIndicator.png" />
          </div>
          <div  ng-show="data.currentLocation.hasLocation"  ng-click="useCurrentLocation()" >
              Use Current Location {{data.currentLocation.address }} @ {{data.currentLocation.location.accuracy}} m
              <img src="images/locationIndicator.png" />
          </div>
        </div>
        <history-list ng-show="inStartLocationField" ng-model="data.locations.startLocation.address" ></history-list>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4">
      <div class="form-group">  
        <input type="text" class="form-control" placeholder="Destination" ng-model="data.locations.destinationLocation.address" googleplace ng-focus="destinationLocationFocus()" ng-blur="destinationLocationBlur()">
        <history-list ng-show="inDestinationLocationField" ng-model="data.locations.destinationLocation.address" ></history-list>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4">
      <button type="button" class="btn btn-success"  ng-click="submit()" class="submitButton">Find My Route!</button>
    </div>
  </div>
</div>