  <div class="row">
    <div class="col-lg-4">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Enter Starting Location">
      </div>
    </div>
  </div>
  <br/><br/><br/>
  <div class="row">
    <div class="col-lg-4">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Destination">
      </div>
    </div>
  </div>
  <br/><br/><br/>
  <div class="row">
    <div class="col-lg-4">
      <button type="button" class="btn btn-success"  ng-click="submit()" class="submitButton">Find My Route!</button>
    </div>
  </div>