<div id="xyz">
  <div class="row">
    <div class="col-lg-4">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Enter Starting Location" ng-model="startLocation.input"
        ng-class="{loadinggif : waitingForLocation}" ng-click="onStartLocationClick()"> 
        <div ng-show="showStartLocation" >
          <div ng-click="obtainCurrentLocation()"> Use Current Location <img src="assets/images/locationIndicator.png"></div>
          <div>
            <h3>History<h3>
            <ul>
              <ui>Bernstein‎ Rishon LeTsiyon, Israel</ui>
              <ui>Hakhan Kerem Maharal, Israel<ui>
              <ui>Oranim 6 Nazareth Illit, Israel<ui>
              <ui>Arieh Ben Eliezer 3 Ashdod, Israel<ui>  
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br/><br/><br/>
  <div class="row">
    <div class="col-lg-4">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Destination">
      </div>
    </div>
  </div>
  <br/><br/><br/>
  <div class="row">
    <div class="col-lg-4">
      <button type="button" class="btn btn-success"  ng-click="fromAndroiad.onCreate()" class="submitButton">Find My Route!</button>
    </div>
  </div>
</div>