<div class="container" >
	<div class='section'  ng-include="'templates/nav/navigationBar.html'">
	</div>
	<div class='section'>
  		<div class="row">
			Alert me when travel time is less than
		</div> 
  		<div class="row">
			<button class="spinner btn btn-inverse btn-small" ng-click="up()">
	        	<i class="glyphicon glyphicon-chevron-up" />
    		</button>		
			<input id="maxDrivingTime" type="number" ng-model="data.notification.request.maxDrivingTime" >
			<button class="spinner btn btn-inverse btn-small" ng-click="down()">
		        <i class="glyphicon glyphicon-chevron-down" />
			</button>
 		</div>
	    <div class="row">
			minutes
		</div>
  	    <div class="row">
			via {{data.route.roadName}}
		</div>
		<div class="row">
	    	<div class="col-lg-4">
	      		<button type="button" class="btn btn-success"  ng-click="notifyMe()" class="submitButton">Notify Me</button>
		    </div>
	  	</div>	
  </div>	
</div> <!-- /container -->


